// --------- GLOBAL VARIABLES -------
$font-stack: 'Arial', sans-serif;
$primary-color: #333;
$bg-color: rgb(18, 17, 17);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    color: white;
    background: $bg-color;
}

// sizing
.w-full {
    width: 100%;
}


// cursors
.cursor-pointer {
    cursor: pointer;
}


// background
.bg-white {
    background: white;
}

// text-align

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.text-justify {
    text-align: justify;
}

// -------- GLOBAL CLASSES --------
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.self-start {
    align-self: start;
}

.v-center {
    align-items: center;
}

.h-center {
    justify-content: center;
}

.gap-1 {
    gap: .25rem;
}

.gap-2 {
    gap: .50rem;
}

.gap-4 {
    gap: 1rem;
}

// text colors
.text-white {
    color: white;
}

.text-pink {
    color: rgb(205, 55, 80);
}

.text-orange {
    color: orange;
}

.text-orange-100 {
    color: rgb(255, 123, 0);
}

.text-gray {
    color: rgb(52, 52, 52);
}

.text-violet {
    color: rgb(167, 53, 131);
}

.text-center{
    text-align: center;
}

// text sizes

.text-md {
    font-size: 15px;
}

.text-lg {
    font-size: 18px;
}

.text-xl {
    font-size: 21px;
}

.text-2xl {
    font-size: 23px;
}

.text-3xl {
    font-size: 27px;
}

.text-4xl {
    font-size: 30px;
}

.text-5xl {
    font-size: 33px;
}

.text-6xl {
    font-size: 36px;
}

//

.font-bold {
    font-weight: bold;
}

/* MARGINS*/
.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mx-3 {
    margin: 0 3rem;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-7 {
    margin-bottom: 1.75rem;
}

.mb-8 {
    margin-bottom: 2rem;
}
/*Animations*/
.pulse {
    display: flex;
    justify-content:center;
    align-items:center; 
    width: 60px;
    height: 60px;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    // background: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#ffffff, .5);
    -webkit-animation: pulse 2s infinite;
  }
  .pulse-button:hover {
    -webkit-animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
        transform: scale(.9);
    }
    70% {
      box-shadow: 0 0 0 50px rgba(#e5e5e5, 0);
    }
      100% {
        transform: scale(.9);
      box-shadow: 0 0 0 0 rgba(#ffffff, 0);
    }
  }


//   

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.duration-300 {
    transition-duration: 300ms;
}