.skillsboard-container {
    // overflow-x: hidden;
    // border: 2px solid;
    // height: 100vh;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
}


.skill-card {
    width: 140px;
    height: 140px;
    border: 2px solid;
    padding: 1rem;
    margin: 5px;
}

.skill-card:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7); 
    cursor: pointer;
}

.skill-card svg {
    width: 100%;
    height: 100%;
}


.skills-languages, .skills-tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}