$card-bg-color: rgb(23, 23, 23);
$card-box-color: rgba(255, 255, 255, .2);

.card-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 100%;
    max-width: 400px;
    background-color:  $card-bg-color;
    position: relative;
    transition: all .2s linear;
}

.card-image-container {
    border: inherit;
    overflow: hidden;
    height: 100%;
}

.card-image {
    width: 100%;
    height: 250px;
    background:rgba(255, 255, 255, .2);
    object-fit: cover;
}

.card-text {
    text-align:justify;
    padding: 15px;
    line-height: 1.4;
    transition: all .1s linear;
}

.card-text .card-title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    transition: all .5 ease;
    text-transform: uppercase;
    overflow-x: scroll;
}

.truncated {
    min-height: 50px;
    max-height: 70px;
    overflow-y: scroll;
}

.card-tags-container {
    overflow-x: auto;
    overscroll-behavior-x: auto;
    position: absolute;
    bottom: 7px;
    left: 5px;
    z-index: 30;
    display: flex;
    gap: 5px;
}

.card-tag {
    padding: 2px 5px;
    border-radius: 5px;
    text-transform: capitalize;
}

.card-content-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 .5rem;
    transition: all .2s;
    transform: scale(0);
    height: 100%;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}


.card-content-container:focus,
.card-content-container:hover,
.card-image-container:hover + .card-content-container
{
    width: 100%;
    height: 100%;
    // visibility: visible;
    background:rgba(17, 17, 17, 0.8);
    transform: scale(1);
}

.card-links {
    display: flex;
    justify-content: center;
    // margin-bottom: 15px;
    margin-top: auto;
}

.card-button {
    box-shadow: 0 0 5px white;
    height: 35px;
    width: 105px;
    margin: 10px;
    border-radius: .5rem;
    display: flex;
    justify-content:center;
    align-items:center;
    transition: all .5 ease;
    text-decoration: none;
    color: white;
}

.card-button p {
    margin-left: 5px;
}

.card-button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
    background: white;
    transition: all .5s ease;
}

.card-button:focus {
    color: white;
}

.card-button:hover > p {
    color: rgb(58, 58, 58);
}

.card-button:hover > svg {
    color:rgb(23, 23, 23);
}
