$card-bg-color: rgb(23, 23, 23);
$card-box-color: rgba(255, 255, 255, .2);

.card-container {
    min-height: 300px;
    max-height: 580px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: 1.5rem 0;
    background-color:  $card-bg-color;
    box-shadow: 0 0 40px $card-box-color;

}

.card-image-container {
    // border: 2px solid purple;
    border: inherit;
    overflow: hidden;
    height: 40%;
    border-radius: 1.1rem 1.1rem 0 0;
}

.card-image {
    width: 100%;
    height: 250px;
    background:rgba(255, 255, 255, .2);
    object-fit: cover;
}

.card-text {
    text-align:justify;
    padding: 15px;
    line-height: 1.4;
}

.card-text .card-title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
}

.truncated {
    min-height: 80px;
    overflow-y: scroll;
}

.card-content-container {
    height: 60%;
    padding: 0 .5rem;
}

.card-links {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.card-button {
    box-shadow: 0 0 5px white;
    height: 35px;
    width: 105px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    transition: all .5 ease;
    text-decoration: none;
    color: white;
}
.card-button p {
    margin-left: 5px;
}

.card-button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
    background: white;
    transition: all .5 ease;
}

.card-button:focus {
    color: white;
}

.card-button:hover > p {
    color: rgb(58, 58, 58);
}

.card-button:hover > svg {
    color:rgb(23, 23, 23);
}

@media (min-width: 768px) {
    .card-container {
        margin: 1.5rem;
    }
}